[2015-03-04 16:51] davydovanton opened #1 "Functionality and Design"
## Main info
[[wiki page]](https://github.com/davydovanton/sidekiq-history/wiki/GSoC-proposal-for-Ruby-organization-(Sidekiq))

[2015-03-04 16:55] davydovanton commented on #1
@mperham what do yo think about my ideas? I think that if we adopt these ideas, I can do it yourself a couple of weeks :smiley:

[2015-03-04 17:06] mperham commented on #1
A couple of thoughts:

1. Saving error and backtrace information is already done by Sidekiq's retry functionality and sidekiq-failures.  Why duplicate it?
2. You use the word "worker" a lot where I think you might mean "job".  Worker is a Class.  Job is an instance of that class that is executed via `perform`.  Jobs have a JID.  Is your History plugin going to track history per Job or per Worker?

[2015-03-04 17:20] davydovanton commented on #1
I like your idea about tracking per Worker.
But in some cases I need informations about each job. For example, in my company in one project we use sidekiq for calculations loans and I want to know the status of each Job. That is why I come up with `tracking: false` option (maybe it would be better to call it `job_tracking: false`).

[2015-03-04 19:38] davydovanton commented on #1
@mperham i think that we need add `Recently run` column where display last run time for passed worker.
Also, I have another idea. Maybe it would be good to add a web log?  Something like as in travis or heroku, what do you think about this? *(now this only idea, because sometimes I'm too lazy to look at the server log or I don't have access to server)*

[2015-03-04 19:42] davydovanton commented on #1
I told about something like this but for log
![screenshot 2015-03-04 22 41 30](https://cloud.githubusercontent.com/assets/1147484/6491638/bc227908-c2bf-11e4-809e-09da4f7522e4.jpg)

[2015-03-04 21:16] davydovanton commented on #1
I thought for a moment and mark up two pages. This is my vision of what I wanted to see in this plugin.
On the first page you can see the table with all the worker is as you suggested.
![screenshot 2015-03-05 00 07 26](https://cloud.githubusercontent.com/assets/1147484/6493597/c981286c-c2cc-11e4-93c0-aeed8ab20e3d.jpg)
And if you click on the link(worker name), it opens a second page, which would d

[2015-03-07 14:42] davydovanton commented on #1
Also, I have suggested that it would be great to show graphic with all jobs for each worker, for example something like this.
![screenshot 2015-03-07 17 36 51](https://cloud.githubusercontent.com/assets/1147484/6541712/321c8d96-c4f1-11e4-9358-0e37977dc931.jpg)

@mperham what do you think about this?

[2015-03-07 16:12] mperham commented on #1
Yeah, that's called a Stacked Area Graph. https://en.wikipedia.org/wiki/Area_chart

That graph should be pretty easy to build.  I think it would be a great first bit of functionality for you to implement.

[2015-03-07 17:56] davydovanton commented on #1
@mperham okay, I will try to implement this as soon as possible. And what do you think about [my pages design conception](https://github.com/davydovanton/sidekiq-history/issues/1#issuecomment-77249991)?

[2015-03-07 18:10] mperham commented on #1
I suspect the log viewer is less useful than you might think.  Most people have Sidekiq running on multiple machines with logs piped to a service like Papertrail, or using Heroku with the logs not easily accessible from the Web UI.  Your log viewer would work in the simplest case of someone running Sidekiq and the Web UI on a single machine but I don't see how it would scale.

Open Source is all a

[2015-03-07 18:29] davydovanton commented on #1
@mperham thanks for comments! : thumbsup: And as I said I need this functionality (log in web ui). That is why i want to create this :smiley:

[2015-03-08 01:24] davydovanton commented on #1
@mperham I created simple charts for failed and passed jobs. This is not the finished version, but now you can imagine how it will look.
![screenshot 2015-03-08 04 18 08](https://cloud.githubusercontent.com/assets/1147484/6544005/8b0db282-c54a-11e4-9433-1378cbdfa38a.jpg)

[2015-03-08 22:51] davydovanton commented on #1
@mperham hello, I'm sorry to interrupt but i have a question. What do you think what is the best way to add custom assets in to my plugin? I have not found a way to do this without using rails and it's awful for me :cold_sweat:

[2015-03-08 23:28] mperham commented on #1
I'm not sure how to do this.

On Sun, Mar 8, 2015 at 3:51 PM, Anton Davydov <notifications@github.com>
wrote:

[2015-03-10 21:29] davydovanton commented on #1
@mperham Hello again :smiley: I'm sorry to interrupt but I completed charts. You can see them in this page:
https://sidekiq-history-gem.herokuapp.com/sidekiq/history
*(in phone you can see dots instead charts. it's associated with css style for mobile. I will fix this later. Also charts not update in realtime. I want fix this too)*
And now i think start creating table for workers. What do you thin

[2015-03-11 09:49] davydovanton commented on #1
@mperham I think I found a solution acceptable to me to add custom css file. For this I created PR (now you can see it on my repository davydovanton/sidekiq#2) where I created `custom_css` helper which provides the ability to add new css files to `layout` template. What do you think it's normal solution for my problem?

[2015-03-11 19:28] davydovanton commented on #1
sorry, but my solution doesn't work correctly

[2015-03-13 21:31] mperham commented on #1
I think Sinatra has an array of paths for serving static files.  Maybe you need to add your gem's public asset directory to that array.  Take a look at the impl for this gem, perhaps it will help: https://github.com/wbzyl/sinatra-static-assets/  Also, http://stackoverflow.com/questions/5055489/sinatra-static-assets-are-not-found-when-using-rackup

Hope this helps.  The screenshots you have so far

[2015-03-14 21:52] davydovanton commented on #1
@mperham hello! I completed table with worker informations :tada: You can see it in this screenshot:
![screenshot 2015-03-15 00 33 53](https://cloud.githubusercontent.com/assets/1147484/6653660/b3e502bc-caab-11e4-8be6-d839f5a7c79c.jpg)
But if you want see this table in real live you always can open my dev heroku application:
https://sidekiq-history-gem.herokuapp.com/sidekiq/history

And thank you

[2015-03-17 21:15] davydovanton commented on #1
@mperham  hello! I wrote proposal and would very much like what you would it have looked before I send it.
https://github.com/davydovanton/sidekiq-history/wiki/GSoC-proposal-for-Ruby-organization-(Sidekiq)
*P.S.: All grammatical errors I will fix tomorrow.*

[2015-03-17 21:21] mperham commented on #1
I think it looks great.  Thanks for filling out the proposal.

On Tue, Mar 17, 2015 at 2:15 PM, Anton Davydov <notifications@github.com>
wrote:

[2015-03-17 21:27] davydovanton commented on #1
@mperham you will not mind if I also thank you for your help in my proposal? :smiley:

[2015-03-17 21:28] mperham commented on #1
Sure, go ahead.  :-)

On Tue, Mar 17, 2015 at 2:27 PM, Anton Davydov <notifications@github.com>
wrote:

[2015-05-06 19:24] Notalifeform opened #14 "processes messages per queue"
Hi @davydovanton
As discussed here https://github.com/mperham/sidekiq/issues/1626#issuecomment-99124184 I am looking for statistics about the number of messages processed per queue. Now this is only recorded for the complete sidedkiq instance. Preferably these stats should be exposed by a json API call.
Right now I created a custom sidekiq module (only a few lines) to expose the queue length and l

[2015-05-07 19:22] davydovanton commented on #14
@Notalifeform hello, thank you for this issue! :green_heart:
I think that I understood you. Also I think that it's really interesting idea. I can create page something like root page ([link](https://sidekiq-history-gem.herokuapp.com/sidekiq/history) or screenshot below) only for queue. What do you think? it's will be helpful for you?
![screenshot 2015-05-07 22 21 53](https://cloud.githubuserconten

[2015-05-07 19:56] Notalifeform commented on #14
@davydovanton I think having the information per worker would be even better than per queue - it would be a great feature for our use.  If this information would be exposed through a (stats) json api - we could also use the numbers in our monitoring system (zabbix).

[2015-05-07 20:05] davydovanton commented on #14
yes, creation API also on my TODO list :)

[2015-05-11 22:10] davydovanton commented on #14
@Notalifeform hello again :smiley:
If you want to see real applications with my gem you can check [this link](http://sidekiq-history-gem.herokuapp.com/sidekiq/history). Also I added more information in worker page. As you can see on worker page you can find table with worker information per each day.  (screenshot below)
![screenshot 2015-05-11 21 42 13](https://cloud.githubusercontent.com/assets/1

[2015-05-11 22:10] #14 closed

[2015-05-11 22:22] davydovanton opened #18 "Choose date selector for gem"
I want to add date selector for worker table, charts, etc. But I have a little problem. I don't know what the best design solutions (and libraries) for this type date selectors. Now I think about slider like as [jQRangeSlider](http://ghusse.github.io/jQRangeSlider/).

Therefore it's very important for me to see your ideas and suggestions
Thanks.
/cc @mperham

[2015-05-11 22:25] mperham commented on #18
I'm the last person to ask about specific JavaScript libraries.  In general though, avoid dependencies so stick with one that requires just jQuery.

[2015-05-11 23:12] rgb-one commented on #18
Best is a relative term. If you can find one that satisfies your requirements adequately then work with it. Im no better off than mperham when it comes to identifying and recommending Javascript libraries but for a more informed decision you can communicate with persons with experience at channels like ##javascript or maybe navigate through some javascript powered github repositories.

[2015-05-12 19:10] Notalifeform commented on #14
looks nice! I'll be waching this repo to see the progress :-)

[2015-05-12 20:03] davydovanton commented on #14
no problem :smiley_cat:

[2015-05-12 21:49] davydovanton commented on #18
Ultimately I used [jquery UI datapicker](https://api.jqueryui.com/datepicker/).
Thank you for your replies :star2:

Gifs:
![sidekiq-history-chart](https://cloud.githubusercontent.com/assets/1147484/7599317/ab3fedca-f909-11e4-8368-006ff1bbadf0.gif)
![sidekiq-history-mobile-full-page](https://cloud.githubusercontent.com/assets/1147484/7599319/ab6f1a78-f909-11e4-911c-ab7c2d3ac5ff.gif)

[2015-05-12 21:50] mperham commented on #18
Beautiful, love it!

[2015-05-12 21:52] davydovanton commented on #18
thanks! :smiley:

[2015-05-12 22:25] #18 closed

[2015-05-26 21:15] stamm opened #21 "use deprecation command"
When I open url: sidekiq/history in my log I see:
[code]

Part of Gemfile.lock:

[code]

[2015-05-27 09:01] davydovanton commented on #21
please, update your sidekiq version to [3.3.4](https://github.com/mperham/sidekiq/releases/tag/v3.3.4)

I forgot to add this to documentation :sweat:

[2015-05-27 09:15] stamm commented on #21
I can't =(
Because sidekiq-limit_fetch has bugs with sidekiq 3.3.4, celluloid in particular

[2015-05-27 09:17] stamm commented on #21
I think you need add sidekiq version as dependency, not only documentation

[2015-05-27 15:53] davydovanton commented on #21
@stamm what kind of bugs sidekiq-limit_fetch has with sidekiq 3.3.4?
may be @brainopia will help to you?

[2015-05-27 19:46] brainopia commented on #21
@stamm Hi, I had fixed compatibility with Celluloid 0.16 in March - https://github.com/brainopia/sidekiq-limit_fetch/commit/541fad464e6d9b1ddaa3f048f211e0196db8afca. And I had no complaints since. Could you upgrade sidekiq-limit_fetch and check?

[2015-05-27 21:09] stamm commented on #21
We upgrade to latest version of sidekiq-limit_fetch, I don't remember exactly reason because we downgrade. I think that sidekiq don't stop. Do you remember, @antoshalee?

[2015-06-09 22:25] davydovanton opened #23 "Release plan"
- [x] ~~Add option with log path for not default logfile [done]~~
- [x] ~~Add custom assets [done]~~
- [x] ~~Catch the error log of absence [done]~~
- [x] ~~Improve log web UI page [done]~~
- [x] ~~Add find in log [done]~~
- [x] ~~Add `max time` row to index table [done]~~
- [x] ~~Add `min time` row to index table [done]~~
- [x] ~~Specific color for each worker name [done]~~
- [x] ~~Add worker tab

[2015-06-09 22:30] davydovanton commented on #23
Also, we use this gem in production.

index page:
![sidekiq-history_index](https://cloud.githubusercontent.com/assets/1147484/8071172/1708e3b0-0f10-11e5-84cf-86a910f5ecc2.png)

worker page with table (per day):
![sidekiq-history_worker](https://cloud.githubusercontent.com/assets/1147484/8071171/1706924a-0f10-11e5-9ddc-8aeeb7f5c794.png)

worker page with log:
![screenshot 2015-06-10 01 27 50](https

[2015-06-10 20:16] mperham commented on #23
That looks fantastic!  I will take a look at the code this weekend and open issues for anything that needs to be improved or redesigned.

[2015-06-10 20:20] mperham commented on #23
A stacked graph might be better in that first picture but I'm not great with UI so I'll defer to others.

[2015-06-10 20:26] davydovanton commented on #23
@mperham thanks for feedback! :)
I have some ideas with refactoring my code, yes. I will make this after realtime chart.

This screenshots from my production site(we have old version of gem). Now it look like this:
![screenshot 2015-06-10 23 24 46](https://cloud.githubusercontent.com/assets/1147484/8093170/02313e66-0fc8-11e5-8d59-6ca417df8135.jpg)

[2015-06-17 16:52] mperham opened #24 "June review feedback"
Hi Anton, this looks amazing so far.  You've got 90% of the functionality done already; I'm very impressed!  Here's a couple of issues I noted:

1. The project needs to be renamed to `sidekiq_history` or maybe something more distinctive.  Right now I have to use `gem 'sidekiq_history', require: 'sidekiq-history'` in the Gemfile, which is really awkward.  Maybe "worker-history", "job-history" or "s

[2015-06-17 16:55] aprescott commented on #24
For (1) would it help to have `lib/sidekiq_history` which does nothing but `require "sidekiq/history"`?  That's a fairly standard way of tackling gem extension naming so that you don't need to do that Gemfile stunt. I like the name `sidekiq-history` personally.

[2015-06-17 16:57] mperham commented on #24
There's already a gem by that name. https://rubygems.org/gems/sidekiq-history

[2015-06-17 16:57] aprescott commented on #24
Sorry I meant `lib/sidekiq_history.rb` with the extension.

[2015-06-17 16:57] aprescott commented on #24
Ohhh. I see.

[2015-06-17 17:57] davydovanton commented on #24
Mike, thanks for feedback :blush:
About first point: I think I'll rename gem to `sidekiq-statistic` or something else.  I don't like `history` name because I grab statistic information substantially. What do you think?

[2015-06-17 18:02] davydovanton commented on #24
2. I don't know about this. It's great tips, thanks :star2:
3. Yes, you're absolutely right. Thanks for the tip

[2015-06-17 18:06] davydovanton commented on #24
Also I want to remove this initializer from all my classes:
[code]

[2015-06-17 18:23] mperham opened #25 "Add a screenshot to README"
People love to look at pretty things.  Show us what your Web UI looks like with lots of data.

[2015-06-17 22:26] #25 closed

[2015-06-18 21:38] davydovanton commented on #24
@mperham what do you think about `chronikiq`? :smile:

[2015-06-29 16:45] mperham commented on #24
How's the project going?  Any ETA for this issue?  That's a clever name but I would be worried if people would remember how to spell it.  Ultimately it is your project and you can name it whatever you want.

[2015-06-29 18:17] davydovanton commented on #24
@mperham I am working on thread-safe middleware now #26. I hope that I will complete this issue by the weekend :grimacing:

[2015-06-30 21:17] davydovanton opened #27 "Change hash serialization to native redis hash"
For more details check this comment:
https://github.com/davydovanton/sidekiq-history/pull/26#issuecomment-117247351

[2015-07-06 18:30] davydovanton commented on #21
sorry, but i'll close this issue

[2015-07-06 18:30] #21 closed

[2015-07-15 16:06] nessur commented on #23
any plans on adding support for ActiveJob ? :)

<img width="1221" alt="screen shot 2015-07-15 at 12 06 02 pm" src="https://cloud.githubusercontent.com/assets/99211/8703177/f35f8446-2ae9-11e5-8fb8-fee07c4ee9b6.png">

[2015-07-15 16:15] mperham commented on #23
You can see what Sidekiq does to support AJ here:

https://github.com/mperham/sidekiq/blob/master/lib/sidekiq/api.rb#L279

[2015-07-15 21:28] davydovanton commented on #23
@nessur thanks for feedback, I fixed this in #29

@mperham thanks for comment, I want use `wrapped` option from message hash

[2015-07-15 22:21] nessur opened #30 "history with multiple Worker Classes raise runtime error"
When running more than one worker class, sidekiq-history raises `NoMethodError: undefined method `symbolize_keys' for nil:NilClass` when recording statistics.

lib/sidekiq/history/middleware.rb:50

To reproduce:
1. Execute jobs with SendEmailWorker one or more times
2. Executes jobs with SendTwitterWorker once
3. See 'SendTwitterWorker' fail, with the 'retries' tab in sidekiq-web, showing the erro

[2015-07-23 09:43] davydovanton commented on #30
Fixed this in #33

[2015-07-23 09:43] davydovanton commented on #30
thanks!

[2015-07-23 09:43] #30 closed

[2015-07-23 09:43] davydovanton commented on #27
closed by #33

[2015-07-23 09:43] #27 closed

[2015-07-23 16:45] sponomarev commented on #24
@davydovanton great work, thanx!

[2015-07-29 13:53] davydovanton opened #37 "Add locale files for each language (complete after release 1.0 version)"
- [ ] cs.yml
- [ ] da.yml
- [ ] de.yml
- [ ] el.yml
- [x] ~~en.yml~~
- [ ] es.yml
- [ ] fr.yml
- [ ] hi.yml
- [ ] it.yml
- [ ] ja.yml
- [ ] ko.yml
- [ ] nl.yml
- [ ] no.yml
- [ ] pl.yml
- [ ] pt-br.yml
- [ ] pt.yml
- [x] ~~ru.yml~~
- [ ] sv.yml
- [ ] ta.yml
- [ ] zh-cn.yml
- [ ] zh-tw.yml

[2015-08-03 22:12] alexmamonchik opened #39 "rack support"
Can't see new tab on rack based application

[2015-08-03 22:22] #39 closed

[2015-08-04 17:22] digitalextremist commented on #23
Nice work @davydovanton :+1:

[2015-08-04 17:39] davydovanton commented on #23
thank you @digitalextremist :blush:

[2015-08-07 16:16] marshall-lee opened #40 "Filtering log by JID"
Hello!

I haven't looked at this project carefully but one of the screenshots looks very interesting to me. I mean a worker log.

The problem that I often face in my work is to look at what happened in the context of one job. Sidekiq logs are not human-friendly since many threads all write to one log file. Filtering logs by a worker class is not enough — I also need a convenient way to filter a lo

[2015-08-07 16:41] marshall-lee commented on #40
As I see in your demo heroku app — filtering by JID works well when I just copy&paste it but I just need it to be automated.

[2015-08-07 16:45] marshall-lee commented on #40
![screenshot from 2015-08-07 19 45 06](https://cloud.githubusercontent.com/assets/3194530/9140851/d8edee26-3d3c-11e5-9020-6b76ed97c7aa.png)

[2015-08-10 15:54] mperham commented on #23
Just so you know, Aug 17 is the suggested last date for coding and Aug 21 is the hard deadline when coding must stop.  You've got a few more steps to go in your list so just a reminder.

[2015-08-10 17:59] davydovanton commented on #23
Yep, I remember, thanks @mperham!
Now I completed backend for realtime job information (https://github.com/davydovanton/sidekiq-statistic/pull/41).

I would like to clarify all tasks marked "undefined feature" (last 4) I plan to do after the deadline. Do you mind?

[2015-08-11 21:55] mperham commented on #23
Yep, that release plan looks good.

[2015-08-18 13:24] #24 closed

[2015-08-18 13:24] #1 closed

[2015-08-18 22:25] mperham opened #44 "Commit access"
Would you mind giving me commit access so I can push pull requests to you?

[2015-08-18 22:35] davydovanton commented on #44
yes, of course :smiley:

[2015-08-18 22:36] davydovanton commented on #44
done :tada:

[2015-08-18 22:36] #44 closed

[2015-08-18 23:24] davydovanton commented on #23
[v1.0](https://github.com/davydovanton/sidekiq-statistic/releases/tag/v1.0) is out! :tada:

[2015-08-18 23:24] #23 closed

[2015-08-19 00:40] felixbuenemann opened #46 "Properly handle namespaced Workers"
The plugin currently does not properly handle worker classes, which are nested in a module, eg. `Foo::BarWorker` and `Foo::BazWorker` wil display as a single entry `Foo` with wrong stats in the WorkersTable.

My guess is that this is because `:` is also used as the separator for the redis keys (eg. `my_app_production:sidekiq:2015-08-19:Foo::BarWorker:timeslist`.

[2015-08-19 00:46] felixbuenemann opened #47 "Redis key nesting inverted"
The nesting of the redis keys is inverted compared to redis, eg. sidekiq uses `my_app:sidekiq:stat:processed:2015-05-31`, but sidekiq-statistic uses `my_app:sidekiq:2015-08-19:Foo::BarWorker:timeslist`.

The expected nesting would be: `my_app:sidekiq:timeslist:Foo::BarWorker:2015-08-19`.

[2015-08-19 01:11] felixbuenemann commented on #46
The problem seems to be in `Sidekiq::Statistic::Base#get_statistic_hash` and `Sidekiq::Statistic::Realtime.realtime_hash`because of how the keys are split.

Maybe you can do the following:
[code]

[2015-08-19 02:21] hexgnu opened #49 "Outlier detection?"
I like this project seems like a cool idea!

Just wondering would y'all be interested in an outlier detection pull request? Not sure if that's outside the scope of this project or not.

My thinking would be to introduce mean absolute deviation (or MAD), and median to the time statistics hash. Then from there use the industry standard 3 threshold for a pretty robust and simple outlier detection mod

[2015-08-19 07:54] davydovanton commented on #47
It seems to me that this is not so important. Furthermore I think that remodel hash is bad idea. Thanks

[2015-08-19 07:54] #47 closed

[2015-08-19 08:18] davydovanton commented on #49
Hello @hexgnu!
I think it's interesting idea. But I'm not sure that this information will be useful to someone. What do you think @mperham?

[2015-08-19 13:01] ckhall opened #50 "Has this been tried with Sidekiq Pro?"
Just wondering.

[2015-08-19 15:16] hexgnu commented on #49
I know of a few people wanting anomaly detection but it can be a slippery road too. :wink:

Also one more idea would be to introduce stdev to the statistics and then graph what are called bollinger bands (https://en.wikipedia.org/wiki/Bollinger_Bands). Basically allow someone to see the upper and lower bound what is 'normal'.

Of course you could always use the stdev as a measure of volatility too

[2015-08-19 16:15] mperham commented on #49
This is something I've always wanted, which is why I asked @davydovanton to save each job runtime in a Redis list, but there's a few gotchas:

1. This feature isn't for finding performance problems, we don't want to build a bad Skylight or NewRelic, but it can be used as a start for comparing performance over a week or a month to find possible regressions.
2. The number is very coarse so I'm not c

[2015-08-19 16:18] rusterholz commented on #23
Congrats @davydovanton!

[2015-08-19 16:50] hexgnu commented on #49
Yea my main fear is I don't want to try and recreate skylight or newrelic either. They do what they do well.

As for the second concern. Assuming you have something so volatile if the worker played out like that and was randomly 5ms or 5000ms over time it'd lead to stdev of 2497.5ms meaning that the bands would be 2502.5 (mean) +/- 3 * 2497.5. After it happened a few times it'd self heal so to spe

[2015-08-20 13:02] sancopanco commented on #46
pull request #53  may fix this

[2015-08-20 19:09] johnnytomcat commented on #50
Works fine for us.

[2015-08-20 19:10] ckhall commented on #50
excellent!

[2015-08-20 19:10] #50 closed

[2015-08-20 19:11] johnnytomcat commented on #50
I updated my comment with our versions

[2015-08-20 19:12] ckhall commented on #50
Thanks for that!

[2015-08-20 19:17] davydovanton commented on #50
@johnnytomcat thanks for answer! :+1:

[2015-08-20 19:42] felixbuenemann commented on #46
@sancopanco I've already got PR #48 to fix this.

[2015-08-20 21:07] davydovanton commented on #46
closed by #48

[2015-08-20 21:07] #46 closed

[2015-08-20 21:20] felixbuenemann commented on #37
I can contribute a German translation, I can make a PR.

[2015-08-20 21:21] davydovanton commented on #37
@felixbuenemann wow, it would be fantastic!

[2015-08-20 21:24] felixbuenemann commented on #37
Done, see #54. I already translated it two days ago, but forgot to do the PR, because this issue said after 1.0.

[2015-08-21 07:20] tisba opened #56 "charts.json not found when mounting sidekiq web into scope"
In our setup we mount sidekiq web into a scope (`/backoffice` in our case).

While `/backoffice/sidekiq/statistic` loads properly, it is still tried to load `/sidekiq/statistic` which obviously fails.

As far as I can tell, this path is hardcoded in `statistics.js` (https://github.com/davydovanton/sidekiq-statistic/blob/2216c8fb6baa6e9d15d4689e24dbff5d7d1833ab/lib/sidekiq/statistic/views/statistic

[2015-08-21 09:09] rosswilson opened #57 "Heroku demo is down"
The Heroku demo application seems to be broken:

https://sidekiq-history-gem.herokuapp.com/sidekiq/statistic

And the root URL is generating a HTTP 500.

https://sidekiq-history-gem.herokuapp.com

[2015-08-21 09:09] #56 closed

[2015-08-21 09:10] davydovanton commented on #56
Thanks for catch :+1:
I fixed this in c8283e5

[2015-08-21 09:18] davydovanton commented on #57
yes, I know :sweat:
Sorry, it's because I use free dyno. Try open the app tomorrow.
![screenshot 2015-08-21 12 16 43](https://cloud.githubusercontent.com/assets/1147484/9405215/a4889db2-47fe-11e5-85e4-1a07c652c5b7.jpg)

[2015-08-21 09:20] davydovanton commented on #57
oh, no, sorry, you're right  :sweat:

[2015-08-21 09:28] davydovanton commented on #57
Updated heroku app, now you can open this

[2015-08-21 09:28] #57 closed

[2015-08-21 11:05] tisba commented on #56
Great, thanks!

[2015-08-21 12:32] davydovanton commented on #49
wow, @hexgnu it's very interesting for me. I'll wait PR :smiley:

[2015-08-21 12:32] davydovanton commented on #40
closed by #55

[2015-08-21 12:32] #40 closed

[2015-08-24 07:27] tisba commented on #56
I'm not sure if related, but I've got another 404 for `charts.json` using the gem via git containing the above mentioned fix (at c8283e5).

At `/backoffice/sidekiq/statistic/Server::Worker` I get a 404 on `/backoffice/sidekiq/statistic/Server::Worker/charts.json`.

[2015-08-25 09:37] davydovanton opened #59 "Don't show statistic for mailers"
If you call mailer (AJ) via `deliver_later` nothing will work.

[2015-08-25 13:57] davydovanton commented on #56
@tisba hello,
yes, I know about this bug :disappointed:
I'll fix this in future, thanks!

[2015-08-25 14:27] #59 closed

[2015-08-26 13:26] zhulik opened #63 "Truncated graph labels"
If you have many workers, you can see something like this
![screen](https://cloud.githubusercontent.com/assets/287062/9494548/23c67432-4c0f-11e5-9468-af1aff8a4d18.png)

As you can see, labes is trancated frome above

[2015-08-26 15:03] davydovanton commented on #63
Thanks!
But I think the problem in charts.js library :disappointed:

[2015-08-26 17:39] zhulik commented on #63
I agree, but in chart.js you can control content of labels and show only top 10 workers, for example. Also, try to update chart.js, maybe they already fix it;)

[2015-08-28 19:58] davydovanton commented on #63
@zhulik hello, I found the problem :tada:
it's connected with `canvas`. So I can change chart.js library to c3.js or I can create custom tooltip.
Today I tried to custom tooltip and I found interesting bug (https://github.com/nnnick/Chart.js/issues/1422) :sweat:

[2015-08-29 17:46] davydovanton commented on #63
Fixed in #64

[2015-08-29 17:46] #63 closed

[2015-08-31 10:12] zhulik commented on #63
Great! Thanks!

[2015-08-31 10:16] zhulik opened #65 "Sorting workers in graph tooltip"
I noted, that workers in graph tooltips don't sorted eather by name or by execution count. Maybe sorting workers by execution count is good idea?

[2015-08-31 10:32] davydovanton commented on #65
yep, I liked it :+1: 1:

[2015-08-31 19:46] davydovanton opened #66 "Change chart.js (on index page) to c3.js"
I now have many problems with chart.js. c3.js looks better.

[2015-08-31 19:48] davydovanton opened #67 "Add newrelic integration"
see this repository for example https://github.com/secondimpression/newrelic_sidekiq_agent

[2015-09-01 12:25] zhulik opened #68 "Moving workers between queues"
I know, that worker management is not related with it's statistics, but sometimes sidekiq users need to do move scheduled and queued workers into other queues. Is to possible to implement this functionality is this gem?

[2015-09-01 16:08] davydovanton commented on #68
So, interesting idea, but sidekiq-statistic only collect you job and (or) worker informations. I think you can send PR to sidekiq repository or write plugin special for this feature.
/cc @mperham

[2015-09-01 16:13] mperham commented on #68
This is what the [Sidekiq API](https://github.com/mperham/sidekiq/wiki/API) is for.

[2015-09-02 11:56] #68 closed

[2015-09-02 14:38] #65 closed

[2015-09-03 08:27] LaurensN opened #70 "Uncaught TypeError: Cannot read property 'getContext' of null"
When trying to access the show of a worker:

http://localhost:3000/sidekiq/statistic/[Worker]

I'm receiving the following js error:

Uncaught TypeError: Cannot read property 'getContext' of null

The offending js function:

statistic.js - 138
function createChart(type, data, datasets)

[2015-09-10 02:13] danarnold opened #72 "The gem does not scale"
We deployed this gem on a fairly busy sidekiq app. It wound up shooting our memory usage up to 1.9 GB after 3 weeks. After removing sidekiq-statistic and all of the large-sized `:timeslist` stores, it brought our memory usage down to under 30 MB. I'm not sure if there is a solution for this, maybe limiting the data that can be retrieved over time, however it should be known that sidekiq-statistic

[2015-09-10 02:17] jclusso commented on #72
You also should note that it also never actually worked. It would crash while trying to load in the page.

[2015-09-10 07:44] davydovanton commented on #72
@danarnold @jclusso thanks for reporting :+1:

[2015-09-10 08:01] jclusso commented on #72
@davydovanton and just to clarify, our usage of sidekiq entails processing around 2 million workers per day.

[2015-09-15 22:37] dsshap commented on #72
@davydovanton have you looked into this?

I also have a busy sidekiq app, processing more the 2M jobs per day, i am hesitant to try it out.

@danarnold @jclusso have you found a different statistics gem that worked well?

[2015-09-15 22:42] jclusso commented on #72
@dsshap haven't really looked, but if you find something let us know!

[2015-09-15 23:38] mperham opened #73 "timeslist does not expire"
https://github.com/davydovanton/sidekiq-statistic/blob/master/lib/sidekiq/statistic/middleware.rb#L40

The timeslist should be expired after some amount of time and (I'd suggest) the times aggregated into a much more compact form.  The Web UI could store hourly aggregates per worker.

If I were implementing this, I'd compact the timeslists hourly.  The compact form could store:

[code]

So instead

[2015-09-18 19:53] stan opened #74 "Issue with custom Date default format"
Sidekiq v3.5.0 - Sidekiq/Statistic v1.1

I'm using a custom Date::DATE_FORMATS[:default] in my application, and this breaks the expectation that `to_s` for a Date will always return something formatted as "%Y-%m-%d".

The following would fix this (and clarify my point) :

Replacing `(@end_date..@start_date).map(&:to_s)` by `(@end_date..@start_date).collect{|date| date.strftime "%Y-%m-%d"}` in http

[2015-09-18 20:30] davydovanton opened #75 "Add statistic for any parameter"
For more details see [this link](https://meta.discourse.org/t/add-plugin-for-displaying-sidekiq-statistic-in-web-ui/32850/19)

[2015-09-23 20:45] mateusg opened #76 "ArgumentError - comparison of String with 0.027 failed"
Hey guys. I came across this error today:

[code]

I'm using:
- Sinatra 1.4.6
- ruby 2.1.2p95
- Sidekiq 3.4.1
- Sidekiq statistic 1.1.0
- Sidekiq failures 0.4.2

Any idea what could it be? I'll see if I can take a look at the code this weekend.

[2015-09-23 23:14] davydovanton commented on #76
Hello, I think, that you have a sting in you `min_time` array. Can you display what you have in redis for this worker? (`<Data>:<WorkerName>:timeslist` range in redis )

[2015-09-26 07:34] davydovanton commented on #74
@stan hello.
Thanks for bug report. And I'll be happy if you send PR with this changes :blush:

[2015-09-28 07:49] #74 closed

[2015-10-09 00:35] antulik commented on #73
+1 constantly growing redis memory usage became an issue for us due to sidekiq-statistic

[2015-10-23 11:41] davydovanton commented on #70
closed by #79

[2015-10-23 11:41] #70 closed

[2015-11-04 09:55] knightq opened #80 "Sidekiq 4 compatibility"
Add support for sidekiq 4

[2015-11-10 23:24] vitali84 opened #81 "worker log tab in the ui is always empty"
Tried to play with
Sidekiq::Statistic.configure do |config|
  config.log_file = '/logs/sidekiq.log'
end

didn't notice any difference

[2015-11-12 14:57] davydovanton opened #82 "Fix memory leak"

[2015-11-15 16:54] davydovanton commented on #80
closed by #83

[2015-11-15 16:54] #80 closed

[2015-11-19 00:39] felixbuenemann commented on #73
Maybe hyperloglog can be used to aggregate execution counts over longer periods. Redis' hyperloglog is exact for smaller counts and can be merged to aggregate data. So it would be possible to store counts per day/hour/whatever and then aggregate to bigger intervals. Eg. daily merge per hour to per day, per day to week and merge to total.

This only works for counting things and not for storing dur

[2015-11-19 09:18] kapso opened #84 "Sidekiq 4 support"
Any plans of releasing this fix, I noticed theres already a commit for this.

[2015-11-19 19:11] davydovanton commented on #84
closed by v1.2

[2015-11-19 19:11] #84 closed

[2015-11-20 10:41] #76 closed

[2015-11-21 20:59] davydovanton opened #86 "Update UI"
Create more responsibility UI.

[2015-11-23 18:50] jhollinger opened #87 "ArgumentError - argument out of range"
Using sidekiq enterprise 3.5.3. Tried sidekiq-statisic 1.1.0, 1.2.0 and HEAD (f27fcdf).

[code]

[2015-11-23 19:25] davydovanton commented on #87
@jhollinger hello, thanks for report! :heart:
Could you call this command and send me output of this?

[code]

[2015-11-23 19:37] jhollinger commented on #87
`(empty list or set)`

[2015-11-23 19:50] jhollinger commented on #87
Oh that's b/c we're using a sidekiq namespace, so it's `sidekiq:sidekiq:statistic`. We have HIPAA concerns, so I can't send it to you. Could you tell me what to look for?

[2015-11-23 20:07] davydovanton commented on #87
@jhollinger, I want to see what string you are use in `Time.parse` in `#formate_date` helper method. This error happened when you replace month and day in parsed string.

Thats why I want to ask you show me what contain `"2015-11-23:<WorkerName>:last_time"` key in redis statistic hash.

[2015-11-23 20:24] jhollinger commented on #87
Got it. Here's a sampling of last_time values. They're obviously in the American date format. Are they expected to be in the more standard one?

    11/17/2015 0750 UTC
    11/15/2015 0500 UTC
    11/16/2015 0500 UTC
    11/22/2015 2342 UTC
    11/15/2015 2300 UTC
    11/21/2015 2256 UTC
    11/15/2015 0500 UTC
    11/23/2015 2000 UTC

[2015-11-23 21:25] davydovanton commented on #87
Sorry, I use [this method](http://ruby-doc.org/core-2.2.3/Time.html#method-i-utc) for formate date in UTC. I think you need to use this method too.

[2015-11-23 21:52] jhollinger commented on #87
Where is it that I would need to use that method?

[2015-12-01 15:36] jhollinger commented on #87
ping

[2015-12-01 18:29] davydovanton commented on #87
pong.
Please save data string in UTC format. You have a problem in parsing your data string in custom format.

[2015-12-01 18:30] jhollinger commented on #87
Right, I mean what "data string?"

[2015-12-01 18:51] davydovanton commented on #87
@mperham thanks! I think I need to rewrite code :grimacing:

[2015-12-08 18:02] bobber205 commented on #86
What does this mean?

[2015-12-08 18:04] bobber205 opened #89 "Does this gem play nicely with multiple sidekiq processes?"
We have two sidekiq processes running and it only seems to see our main queue/the project where the sidekiq-web gem is configured.

The sidekiq web interface shows us jobs processing through all of Sidekiq's scope of worker queues but this gem doesn't seem to see all queues?

[2015-12-22 21:47] divoxx commented on #82
@davydovanton hey, I'm curious to know what memory leak is this. If there is a serious memory leak or no way around it I'll hold off using this in production until it gets fixed.

[2016-01-17 10:16] avyy commented on #81
I've just checked it, everything works fine. Is it still an actual bug?

[2016-01-20 21:35] eggie5 commented on #73
+1 I just tracked down our out of control memory growth to this!

[2016-01-20 21:38] eggie5 commented on #72
+1 I just tracked down out out of control memory growth to this feature. The `timeliest` in middlewear.rb doesn't expire...

[2016-01-27 13:22] inossidabile commented on #72
Same shot me in the leg. :+1:

[2016-03-01 18:45] davydovanton commented on #86
done

[2016-03-01 18:45] #86 closed

[2016-03-01 19:51] ChaoticBoredom commented on #72
We were burned by this as well, much smaller volume, but the the stat lists in Redis had us constantly running at the top of our memory usage

[2016-04-25 16:24] KevinBongart opened #96 "Total time not working?"
Hi there,

I deployed `sidekiq-statistic` 30 minutes ago on a production app, and the `Time(sec)` column doesn't seem to match the `job count * average` formula I'd expect:

![](http://screenshots.kevinbongart.net/tMqZQ.png)

(worker names voluntarily truncated)

Workers with more than 1 job count have a total run time close to the average run time, instead of being closer to 100, 200 or 300 times

[2016-04-25 19:44] davydovanton commented on #96
hi @KevinBongart, thanks for report. it's really interesting problem and I'll research this 👍

[2016-07-13 23:35] kotowick opened #97 "Cannot read property of undefined"
Getting some JS issues, but unable to resolve.

Steps to replicate:
1. Installed gem
2. Go to Sidekiq interface and click on Statistics.

Error:
statistic.js:formatted:1738Uncaught TypeError: Cannot read property 'draw' of undefined
statistic.js:formatted:1722Uncaught TypeError: Cannot read property 'update' of undefined

[2016-07-13 23:58] kotowick commented on #81
Same here - JS issues.

[2016-07-14 09:54] davydovanton commented on #97
@kotowick thanks for reporting! Could you make PR to solve this problem?

[2016-08-22 11:44] shaicoleman commented on #73
+1, Redis killed by the Linux Out of Memory Killer.

As a workaround, I clear all the timeslist on a regular basis like this:
`Sidekiq.redis { |connection| connection.keys('*:timeslist').each { |key| connection.del(key) } }`

[2016-08-22 11:46] shaicoleman commented on #82
I believe this is a duplicate of https://github.com/davydovanton/sidekiq-statistic/issues/73

[2016-08-22 11:55] davydovanton commented on #82
@shaicoleman yes, I think you're right. Thanks!

[2016-08-22 11:55] #82 closed

[2016-08-27 10:15] kapso opened #99 "Getting Rack::Timeout::RequestTimeoutException"
Getting timeout issue on Heroku, I am guessing its because of the data size. How to resolve this issue?

Also, if I need to clean the statistics data, would this work?

[code]

[2016-08-28 08:00] kapso commented on #72
Running into similar issue. Maybe apply date range when storing stats in redis -- store only stats data for last x months/days/year. Is that possible?

[2016-09-13 15:29] mperham commented on #73
@davydovanton I've put this gem on the "troublesome" list and removed it from the Related Projects wiki page since this bug hasn't been fixed.

[2016-09-13 15:35] eggie5 commented on #73
@mperham yeah I think that would save everybody a lot of trouble.

[2016-09-26 06:23] adamof commented on #72
One more 👍  for this.

[2016-10-03 12:06] pchaganti commented on #89
👍

[2016-10-03 12:07] pchaganti commented on #72
👍

[2016-10-24 18:49] Tongboy opened #101 "statistic page can't load js & css files"
Trying to get the gem running against sidekiq 4.2.2 on a rails 4.2.7.1 app

The statistics page is visible on the web interface of sidekiq but when clicked on it renders incompletely - the css & js file requests to the server return a 500 error with the top of the stack trace saying `NameError - uninitialized constant Sidekiq::WebAction::CONTENT_TYPE:`

any help is much appreciated

[2016-10-24 18:54] mperham commented on #101
Try 4.2.3.

[2016-10-24 19:10] Tongboy commented on #101
That fixed the 500's - thank you sir!

Now i'm getting some javascript errors `typeError: Cannot read property 'draw' of undefined' & 'typeError: Cannot read property of 'update' of undefined'

[code]

[2016-10-24 19:58] Tongboy commented on #101
Never mind! everything started working fine once there was at least one job that had processed since sidekiq-statistic was enabled.

[2016-10-24 19:58] #101 closed

[2016-10-28 17:57] alexandru-calinoiu commented on #101
I am getting the same issue on a rails api project, my gem versions are:

rails (4.2.7.1)
rails-api (0.4.0

[code]

[2016-12-02 15:15] rjrobinson commented on #72
👍

[2016-12-15 03:59] ACPK commented on #72
Any solutions yet for this?

[2017-01-09 13:28] knightq commented on #76
Any release plan for this?

[2017-01-09 15:43] davydovanton commented on #76
@knightq hey. I'll create release at the end of this week :)

I have so many tasks in other projects, sorry 😞

[2017-01-09 16:54] knightq commented on #76
Don't worry, we must be grateful to people like you who help all of us working better with ruby & sidekiq!

Thank you very much for your effort on this, Anton!

[2017-01-18 17:51] jacek213 commented on #73
That's a major issue, anyone tried to fixed that? I have to stop using this lib until it's fixed.

[2017-01-22 11:30] romanvbabenko opened #103 "undefined method `reverse!' for nil:NilClass (NoMethodError)"
I try to run the plugin as in standalone mode as it described in the manual, but got this error

[code]

[code]

Ruby 2.3.1

[2017-01-28 19:50] davydovanton commented on #103
@romanvbabenko, thanks for report 👍
Could you show full stack trace for this problem? (in gist)

[2017-02-08 20:35] Daniel-ltw opened #104 "Log to STDOUT"
Is there a way to configure this?

Base on documentation, the log_file seems to need a log file to read from.
If I have all my log logging to stdout following Docker conventions, could we actually get that in the worker log section as well?

[2017-02-09 23:53] Daniel-ltw opened #105 "String can't be coerced into Float"
[code]

[2017-02-14 02:43] Daniel-ltw commented on #103
My workaround is:

[code]

Have to do the middleware layer manually.
Could skip the instance_eval line, in their example.

[2017-02-15 16:56] rosshambrick commented on #89
Should this issue be closed?  I just set up my project with this gem and am seeing multiple queues across multiple processes being logged.

[2017-02-16 18:56] davydovanton commented on #89
@rosshambrick I think yes. @bobber205 could you check this issue again?

[2017-02-16 19:25] bobber205 commented on #89
probably no longer an issue.
we stopped using this gem. It worked really well but was taking too much space in redis.

[2017-02-16 19:25] #89 closed

[2017-02-20 18:14] PanfilovDenis commented on #105
+1

[2017-02-23 02:34] Daniel-ltw commented on #105
undefined method `/' for "9.79431929480901e-07":String

Certain statistics are stored as a string value and now could not be converted into a float or for the case above is not convert from a string before the divide happens.

[2017-02-24 00:41] Daniel-ltw commented on #105
Could be something to do with

[code]

[2017-02-28 01:00] davydovanton commented on #105
I think we should use `.map(&:to_f)` for `#average_runtime` method too. @Daniel-ltw could you create PR and add some tests for this case? Thanks!

[2017-02-28 01:03] Daniel-ltw commented on #105
How about the case for the title of the issue?

Could there be values that are strings but can't be converted into float value?

[2017-02-28 01:06] davydovanton commented on #105
Hm, good question. Now I can't imagine values for this case. Do you have any ideas?

[2017-02-28 01:20] Daniel-ltw commented on #105
Not sure too.

Maybe, it could be related.

Will attempt to get this pull request through and see how that goes.

[2017-03-01 06:34] davydovanton commented on #105
fixed by @Daniel-ltw 🎉

[2017-03-01 06:34] #105 closed

[2017-03-01 17:36] Daniel-ltw commented on #105
When is this going to be release to rubygems?

[2017-03-06 01:28] Daniel-ltw commented on #104
Anyone has a work around for this?

[2017-03-06 11:48] davydovanton commented on #104
Hey, could you create PR with this feature?

[2017-03-06 18:10] Daniel-ltw commented on #104
I am happy to do the leg work if i do know what to do.

Any suggestions?

[2017-03-30 09:17] garethson commented on #72
I've posted a potential solution for this issue at https://github.com/davydovanton/sidekiq-statistic/pull/107.

[2017-03-30 09:21] garethson commented on #73
Lots more could be done to re-vamp how times are calculated and stored, but I think the solution I've got up at https://github.com/davydovanton/sidekiq-statistic/pull/107 could bring this gem back to stable and performant for those running a lot of jobs.

[2017-03-31 09:22] davydovanton commented on #72
folks, could you check github version of this gem?
[code]

[2017-05-03 10:28] spinx opened #108 "Unable to use with Sidekiq 5"
RUNTIME DEPENDENCIES:
sidekiq < 5, >= 3.3.4

Is this for a specific reason?

[2017-05-03 14:50] davydovanton commented on #108
I think no. Will check it today. Thanks 👍

[2017-05-04 21:50] davydovanton commented on #108
closed by #109

[2017-05-04 21:50] #108 closed

[2017-05-24 14:49] bgvo opened #110 "Understanding stats"
![Image](https://cloud.githubusercontent.com/assets/1147484/8071171/1706924a-0f10-11e5-9ddc-8aeeb7f5c794.png)

I'm not sure what some of the columns mean. First five are clear, but from there on numbers change over time up and down and not sure what the relations are among them. Could any explain what are they referring to? (Time(sec), Average(sec), etc.)

[2017-05-24 16:27] davydovanton commented on #110
Hey!
Yes, of course:

`Time(sec)`: total time which you jobs work in seconds (`jobs count` * `average`)
`Average(sec)`: average duration for all jobs in seconds (`total` / `jobs count`)
`Min time(sec)`: minimal time for running one job in seconds ((`array of each jobs time`).min)
`Min time(sec)`: maximal time  for running one job in seconds ((`array of each jobs time`).max)

[2017-07-19 10:28] accessd opened #113 "Filter workers by state"
Is it possible to show statistic only for passed workers?

[2017-07-23 11:49] davydovanton commented on #113
Hey!
I'm not sure that it's possible now. We display information about all workers. But you can create PR with new raw in statistic table :)

[2017-08-01 05:34] Frexuz opened #114 "Release on rubygems?"
Why isn't there a new version on rubygems? :)

[2017-09-01 16:38] #110 closed

[2017-09-04 21:41] lucasrodcosta opened #115 "[Feature request] New metrics: EWMA and percentiles"
Hi everyone!

First of all, thanks and congratulations for sidekiq-statistic!
It's awesome and very useful!

I'm opening this PR to suggest some new metrics: [Exponential moving average (EWMA)](https://en.wikipedia.org/wiki/Moving_average#Exponential_moving_average) and [percentiles](https://en.wikipedia.org/wiki/Percentile) of the worker's processing times.

The first one is similar to [Unix's lo

[2017-10-04 20:35] Digital-Learner commented on #81
Did this get resolved?Is there a link for the heroku app in terms of the code? Be helpful to understand how it works there to debug this.

[2017-10-04 20:38] Digital-Learner opened #116 "Link to heroku app?"
Any chance of providing a link for the heroku app to see how implemented in a Rails app. Wanting to understand how the logs get displayed.

[2017-10-27 05:25] PikachuEXE commented on #114
Last release was made in 2015
Almost 2 years now

[2018-02-27 19:10] fernandoluizao commented on #114
+1

[2018-03-19 21:39] MrJoy commented on #104
It probably requires wrapping SideKiq's configured logger with something that will intercept the message for sidekiq-statistic, and forward it to the underlying logger as-is.

I'd recommend that you forward _before_ trying to write to Redis.  If there's a failure mode in which Redis becomes unavailable in any way, or becomes very slow to respond, you don't want to drop or delay log messages that m

[2018-03-19 21:51] MrJoy commented on #73
@garethson Does that mean this issue should be be closed, with a follow-up issue to improve storage efficiency?  Or is there still a problem of unbounded memory growth after your patch?

[2018-03-20 01:06] garethson commented on #73
@MrJoy This did seem to address the issue we were having, yes. It safely drops (very) old history once an upper bound is reached, so perhaps not the most elegant solution, but works for us while still rendering the tool very useful.

[2018-04-01 11:25] davydovanton opened #117 "Request for maintainers"
I'm no longer in a capacity to maintain this library.

This is a public request for new maintainers, who could potentially also sponsor statistic plugin for sidekiq.

### Some ideas what you need to do
- [ ] Fix bugs from issues
- [ ] Update library for latest sidekiq version
- [ ] Release

Also, I have some ideas for the future direction:
- [ ] Different adapters for worker history (like PG, saas

[2018-04-20 20:53] vitaliy-cro commented on #103
@davydovanton the same issue with the same config
sidekiq (4.2.10)

`Traceback (most recent call last):
        33: from bin/rails:3:in `<main>'
        32: from bin/rails:3:in `load'
        31: from /Users/vitaliy/Projects/ruby/cheapsea/bin/spring:13:in `<top (required)>'
        30: from /Users/vitaliy/Projects/ruby/cheapsea/bin/spring:13:in `require'
        29: from /Users/vitaliy/.rvm/gems/r

[2018-08-15 07:00] schovi commented on #117
@drn What have you choose instead? We are currently switching from Resque to SQ and trying to duplicate current "stack" where we had this kind of statistics.

[2018-08-16 04:06] drn commented on #117
@schovi - Unfortunately we don't use an alternative. These statistics are more of a nice-to-have than a necessity for our system, so we just removed the functionality completely. Sorry I don't have any more useful info!
That said, highly recommend sticking to the switch from Resque to SQ - we're seeing significantly higher throughput having gone through the same transition.

[2019-03-02 18:22] rbUUbr commented on #99
@kapso might be issue within sidekiq timeout for redis. See this:
https://github.com/mperham/sidekiq/wiki/Using-Redis#life-in-the-cloud

[2019-03-02 19:29] rbUUbr commented on #66
@davydovanton will try to update chart.js to latest version(2.7.3) to check for changes. May take some time due to API updated

[2019-03-02 20:02] rbUUbr commented on #81
@Danila could you please provide more info? Is your log file exist?

[2019-03-02 20:16] rbUUbr opened #123 "Log parser duplicates logs."
Steps to reproduce:
1. Create workers `HardWorker` and `IssuedHardWorker` with code:
[code]
and
[code]

2. run  `rails console`
3. run `HardWorker.perform_async` 5 times
4. run `IssuedHardWorker.perform_async` 5 times
5. close rails console and run `bundle exec sidekiq`
6. run `rails server` in another tab
7. open http://localhost:3000/sidekiq/statistic/HardWorker#
8. open `worker log` tab
Result:

[2019-03-04 18:32] sheraz-ishaq commented on #81
@rbUUbr I had same issue - log file isn't get created and UI tab remains empty

[2019-03-05 19:21] davydovanton commented on #87
Fixed it by @rbUUbr’s PR. Will close the issue

[2019-03-05 19:21] #87 closed

[2019-03-06 08:24] rbUUbr commented on #81
@sheraz-ishaq thanks a lot! will investigate this issue

[2019-03-06 19:02] rbUUbr commented on #81
@sheraz-ishaq The log_file option is needed in those cases if you have a custom log file for a sidekiq, in this case you give instructions for searching for this file. It should't create a new one for logs and redirect output of sidekiq to it

[2019-03-06 22:34] sheraz-ishaq commented on #81
@rbUUbr ah I see thanks. I have add [logfile option for sidekiq](https://github.com/mperham/sidekiq/wiki/Logging#log-file) and it is working well now

[2019-03-07 07:06] rbUUbr commented on #81
@sheraz-ishaq 👍

[2019-03-10 10:35] rbUUbr commented on #123
Fixed it with #124 PR

[2019-03-10 10:35] #123 closed

[2019-03-12 08:26] rbUUbr commented on #81
@davydovanton I think, this issue can be closed because the problem is fixed :)

[2019-05-09 23:26] Daniel-ltw commented on #104
https://railsware.com/blog/rails-logging-into-several-backends/

I think right now the solution would be to use ActiveSupport::Logger.broadcast to also log to a separate sidekiq.log file.

[2019-05-13 16:30] wenderjean opened #127 "Let's do a release plan?"
Hey @davydovanton

I recently gave some try to `sidekiq-statistic` gem in our project and I realized It gives us a lot of good metrics and It is also pretty straightforward in general, unfortunately, we decided to not use it at this moment due to the lack of new releases since 2015 but I'd really like to help the project and be able to use it in the near future.

I'd like to understand better the

[2019-07-29 14:04] wenderjean opened #131 "Add a stop option in real time graphics"
During the implementation of `sidekiq-statistic` I created some spikes in realtime graphics to test the feature itself and I missed an option to stop the graphs re-rendering to analyze a particular point, it can be a nice feature to add or even a further discussion about it.

[2019-07-29 14:10] wenderjean opened #132 "[Improvement] Translate dates on workers table"
The date present in workers table is not being translated.
In the example below the correct date for the Portuguese language should be `29 de Julho de 2019, 06:58:51`

![image](https://user-images.githubusercontent.com/941776/62055008-1e97a480-b1f1-11e9-98b0-d8a86fbf8983.png)

[2019-07-29 16:12] wenderjean commented on #117
@davydovanton I'd like to help to maintain the project, I have some improvements in mind including a better approach to the memory problem already related, can u add me?

[2019-07-29 16:44] davydovanton commented on #117
hey man! yep, I'll be happy to add you 💯

[2019-08-09 16:59] #132 closed

[2019-09-20 13:10] wenderjean opened #140 "Charts are no longer visible when you have a lot of workers"
We add `statistic` in a big project for our company and we realize that when we are dealing with a bunch of workers the graphics are compacted by the list of worker names.

[2019-09-20 13:13] wenderjean opened #141 "Avoid white color when generating colors for workers"
We should avoid white color when we are generating the colors for workers because it produces a hard visualization in UI.

Blocked by: https://github.com/davydovanton/sidekiq-statistic/pull/139

[2019-09-20 13:46] GQuirino commented on #140
I generate 50 random data to check this issue.

![image](https://user-images.githubusercontent.com/15057257/65331671-9b148700-db93-11e9-8d31-3dc077097480.png)

this chart is being replaced in this pr #139

[2019-09-20 17:33] wenderjean commented on #140
Yeah, that's similar we're getting here.

[2019-09-20 20:06] #66 closed

[2019-10-04 20:50] wenderjean commented on #114
A new version was released today! :)

[2019-10-04 20:50] #114 closed

[2019-10-04 21:01] #140 closed

[2019-10-04 21:09] wenderjean opened #143 "Organize the change-log to better reflect the new release"
Version 1.4.1
  Unreleased

- Fix UI problem when the number of workers increases too much

Version 1.4.0
Released on Oct 4th, 2019

- Add translation for `pt-br`
- Add translation for `jp`
- Change color for visited links
- Replace `chart.js` to `c3.js`
- Improve UI messages
- Fix problems in real-time graphics

[2019-10-04 21:50] #143 closed

[2019-10-11 12:42] wenderjean commented on #103
@davydovanton There something else we should do here? I believe we can close this issue.

[2020-01-13 14:03] #141 closed

[2020-06-29 12:44] wenderjean opened #152 "Increase test covering"

[2020-06-29 13:08] wenderjean opened #153 "Improve translations for start/stop real time button"
#### Current behavior

For Portuguese:

- Start = Inicio
- Stop = Pare

#### Expected Behavior

For Portuguese:

- Start = Iniciar
- Stop = Parar

[2020-06-29 13:09] #131 closed

[2020-06-29 13:10] wenderjean commented on #116
It would be good to have a Heroku App running some job examples to allow developers to see the lib in action.

[2020-06-29 13:13] wenderjean opened #154 "Improve hide feature on real-time tab"
The table below looks kinda weird with a checkbox to hide workers, I suggest some improvements like:

1. Switch columns position (Worker | Visible)
2. Turn the checkbox into a button (show/hide)

![image](https://user-images.githubusercontent.com/941776/86009739-f449fa80-b9f0-11ea-9df3-23bedda42278.png)

[2020-06-29 17:06] kostadriano commented on #154
I would like to work on this issue :)

[2020-06-29 17:45] wenderjean commented on #154
Great @kostadriano, feel free to work on it :)

[2020-06-29 19:40] wenderjean opened #155 "Add new workers to the table on real-time tab"
On real-time tab, we're performing a pooling to fetch workers' activity and feed up the graphics, we should also add new workers to the `Workers Table`.

[2020-07-01 12:19] wenderjean opened #157 "Test support with Sidekiq 6"

[2020-07-01 14:45] #154 closed

[2020-07-02 17:47] wenderjean commented on #157
@kostadriano If I'm not wrong you were running on Rails 6, right? Did you get any issues?

[2020-07-02 18:03] kostadriano commented on #157
Yes @wenderjean , I had a problem using `sidekiq 5.2` and `rails 6.0.3` the workers wasn't being registered. But with `sidekiq 6.0.7` it worked fine.

[2020-07-13 08:40] davydovanton commented on #116
Hey! We have one: https://sidekiq-history-gem.herokuapp.com/sidekiq/sidetiq

I think we need to fix app because it looks broken now

[2020-07-13 11:26] wenderjean commented on #116
@davydovanton The repository itself is a private one? The app is hosted on your account? I'd like to take a look and make it available :)

[2020-07-13 13:28] davydovanton commented on #116
@wenderjean I tried to find a project in personal repositories but found nothing 😞

Could you create a new one? Or we can change the issue to `help-wanted`

[2020-07-13 16:18] wenderjean commented on #116
I'll create a new one :)

[2020-08-11 11:19] johnmanjiro13 opened #160 "Color of visited anchors is hard to read on dark mode"
Sidekiq supports dark mode, but color of visited anchors in the workers table remains as in white mode.
Its color code is `#4b001a`.
I think this color is hard to read on dark mode.
So, what do you think about change it to `#ccc` like sidekiq on dark mode?

[2020-08-24 16:32] wenderjean commented on #160
I pretty much agree on a handle to this issue @johnmanjiro13, would you like to address that?

[2020-08-24 18:26] brunnohenrique commented on #153
I wish to do this issue!

[2020-08-24 18:34] gabrielbaldao commented on #157
I tried to reproduce this bug, using two cases, I use a old personal project, and after called @adriano,
I use the same versions used by him, as cited below, and in another scenario I used the last version from `sidekiq`
in both cases I cannot reproduct the bug, everything worked as expected.
Probably some update already fix this case.
[code]
[code]
![primeira screen](https://user-images.githubuse

[2020-08-24 19:10] brunnohenrique commented on #113
Could I work on this issue?

[2020-08-25 12:01] #153 closed

[2020-08-25 14:10] brunnohenrique commented on #113
@davydovanton @wenderjean :point_up: =)

[2020-08-25 18:41] davydovanton commented on #113
Hey, I'll be happy if you help us with it! 💯

[2020-09-02 19:00] V-Gutierrez commented on #160
Could you assign it to me ? I want to work on it

[2020-09-06 15:19] #160 closed

[2020-09-08 14:16] V-Gutierrez commented on #155
Could you assign it to me ? I'd like to work on it.

[2021-02-01 14:37] wenderjean opened #166 "Undefined filename for Nil class error"
One of the projects we're running on reported they're receiving the error below.

[code]

[2021-02-01 14:43] wenderjean commented on #166
I'm almost sure it is related to the fact that `Sidekiq` does not log to files anymore.
I'm considering removing that feature from the lib, do you have some strong opinions about that @davydovanton?

[2021-02-01 14:46] wenderjean commented on #73
I'm closing this issue considering we already have a feature to get rid of pretty old info on Redis.

[2021-02-01 14:46] #73 closed

[2021-02-01 21:12] drn commented on #73
Hi @wenderjean — can you clarify which feature you're referring to?

[2021-02-01 21:40] davydovanton commented on #166
hey, it's good for me. Thanks for taking attention to it

[2021-02-02 00:33] MrJoy commented on #73
He's referring to expiration times.  Redis can act as an LRU cache either globally, or explicitly per-value when an expiration is set.

[2021-02-02 01:00] drn commented on #73
Thanks for clarifying, @MrJoy

This may have changed recently, but my understanding is that there is no option to specify a global TTL in Redis and it must be specified per key. It looks like Redis 4.0 introduced some new functionality — https://redis.io/topics/lru-cache, but the eviction policies seem geared for using Redis as a cache rather than a queue.

Rather than having the users of this lib

[2021-02-02 16:59] rbUUbr commented on #157
Started to use it with `sidekiq 6.1.3` will post here some updates on next week

[2021-02-03 23:22] claracodes opened #168 "Graph not displayed properly because of too many jobs"
We currently have approximately 100 jobs runnning. The problem is that the graph doesn't show because the many jobs in the legend underneath the graph take too much space.

We've been playing around with the css properties a bit and it seems there is a max-height on a `div.js-passed-chart`.

[2021-02-04 02:14] jaggednz opened #169 "Version 1.5.0 still tagged as 1.4.0 in lib/sidekiq/statistic/version.rb ?"
Just tried to update and was confused that the bundled version did not match latest release ...

[2021-02-04 14:49] wenderjean commented on #73
Sorry for the delay @drn.

I was actually referring to this piece of code: https://github.com/davydovanton/sidekiq-statistic/blob/master/lib/sidekiq/statistic/statistic/metrics/store.rb#L52

It was added in the past and since then we haven't seen activities here, that's the reason I closed the issue.

We should probably have other approaches to handle that that I really think we can discuss furthe

[2021-02-04 14:51] wenderjean commented on #169
Thanks for highlight that for us @jaggednz.

[2021-02-05 19:31] wenderjean commented on #168
Thanks for notifying the issue @claracodes I'll try to take a look at it asap.

[2021-02-06 11:44] wenderjean commented on #104
I've just created a new PR proposing completely remove the logs reading on the Statistic page, I know this issue has a long time with no discussions but if you guys have opinions on that, just let me know. ☝️

[2021-02-06 11:48] wenderjean commented on #103
It seems the update in README regarding standalone configuration helped to solve the problem. I'm closing this issue considering we haven't been having activities on it.

[2021-02-06 11:48] #103 closed

[2021-02-08 06:19] drn commented on #73
Got it, thanks for clarifying! Cheers

[2021-02-09 17:22] #169 closed

[2021-02-10 02:10] yono opened #172 "Release on rubygems?"
Why isn't there a new version on rubygems? :)

----

I copied #114's title and description.

[2021-02-10 14:32] wenderjean commented on #172
@davydovanton Would you mind pushing to Rubygems for us? :)

[2021-02-10 14:36] davydovanton commented on #172
@wenderjean of course!

[2021-02-10 21:17] claracodes commented on #168
Thanks for the quick response. We're running 1.4.0

[2021-02-11 12:43] rhian-cs commented on #113
It's been a while so I will take @brunnohenrique 's place and work on this issue, is that alright?

[2021-02-11 13:09] wenderjean commented on #113
@rhian-cs Sure thing, feel free to work on that. Thanks

[2021-02-14 17:59] wenderjean opened #174 "Add support to i18n in Datepicker inputs"
Recently I noticed even though we're dealing with different date formats on the backend side, our filter inputs (date pickers) are not performing the same.

[2021-02-16 09:58] rbUUbr commented on #157
jfyi: still everything is ok

[2021-04-06 17:39] zbelzer commented on #172
Please release 1.5.0 and 1.5.1 to rubygems.

[2021-05-03 04:58] denis-tchaikovsky commented on #172
Would be really great to get 1.5.1 on rubygems

[2021-10-06 14:23] 2ge opened #176 "Provide stats per host"
Hi

thanks for nice app. On our side we are running sidekiq on 2 different hosts (basically also playing with jemalloc on one) and would be very useful if in stats one could see how many jobs was processed per host

Thanks

[2021-11-01 13:10] juliofalbo opened #177 "Empty workers"
Hi.

I just added the gem in my Rails app but the Statistic is empty and the endpoint is also returning `{"workers":[]}`, but as you can see in the image below, I have workers running and jobs being executed.

![image](https://user-images.githubusercontent.com/6312265/139676628-26fb316f-a950-4405-9ec7-6733ea924e75.png)
![image](https://user-images.githubusercontent.com/6312265/139676672-4937b49e-3

[2021-11-01 13:23] juliofalbo commented on #177
My bad, I forgot to restart the sidekiq, now it is fine.

[2021-11-11 21:55] fuegas opened #178 "Version bump for 2.0.0 release?"
Hi,

Thanks for this gem! I saw that you created a release for 2.0.0, but the version.rb file still states 1.5.1. Could you bump that file as well? 😄  Thanks!

If you're working on it, would it be possible to publish a release on RubyGems as well? 😄

[2021-11-26 11:31] wenderjean commented on #177
Thanks for the feedback, I'm closing it @juliofalbo.

[2021-11-26 11:31] #177 closed

[2021-12-09 00:58] n-rodriguez opened #180 "Uncaught ReferenceError: jQuery is not defined"
Hi there!

I got this error in my browser console. It comes from https://github.com/davydovanton/sidekiq-statistic/blob/master/lib/sidekiq/statistic/views/statistic.js

See: https://github.com/mperham/sidekiq/blob/main/Changes.md#630 (yeah, I'm running Sidekiq 6.3.1)

It's not a big deal, but just to warn you ;)

[2022-02-11 23:10] victorfgs opened #182 "Redis `redis.pipeline` is being deprecated"
Ever since version [4.6.0 of the redis gem](https://github.com/redis/redis-rb/blob/master/CHANGELOG.md), the command `redis.pipeline` raises a deprecation warning.

## Reproducing

Add `redis` 4.6 or later and `sidekiq-statistic` to your gem file. Run some sidekiq jobs and see the deprecation warning in the sidekiq server output
![image](https://user-images.githubusercontent.com/20672145/153682648

[2022-02-21 20:23] wflanagan commented on #182
So, any update on this? Every job this is flooding my logs.

[2022-03-04 08:59] GMolini commented on #182
Im also having this problem

[2022-03-04 13:47] wenderjean commented on #182
We have a PR to fix this issue, I've just linked it here. I'll merge it as soon as the contributor attends to my concerns regarding keeping compatibility.

[2022-03-25 14:14] BakiVernes commented on #182
Waiting for this to be merged as well :)

[2022-04-13 14:53] wenderjean opened #185 "Remove JQuery dependency completely"
Recently we had an issue related to the fact that Sidekiq no longer relies on JQuery since the version `6.3.0`, this issue was tracked by https://github.com/davydovanton/sidekiq-statistic/issues/180 and fixed by https://github.com/davydovanton/sidekiq-statistic/pull/181.

We should consider removing the dependency in the file `statistic.js` also. The bad thing is we're using `jQuery UI Datepicker`

[2022-04-13 14:55] #180 closed

[2022-04-22 10:06] fabn commented on #172
Up here, why new versions are not available on rubygems?

[2022-04-26 08:37] NDuggan commented on #172
@davydovanton can you please push v1.5.1 to Rubgems?

[2022-05-24 20:54] danielgomezrico opened #186 "Warning from Redis"
Im getting this warning everytime a job is proccessed on sidekiq:

[code]

[2022-06-09 16:28] wenderjean opened #187 "Verify Sidekiq's changes in version 6.5.0"
May these changes cause issues?

https://github.com/mperham/sidekiq/blob/main/Changes.md#650

[2022-08-24 13:23] t1ll commented on #186
Same here - i guess the issue still exists

[2022-08-31 18:02] reservedmuffin commented on #186
+1

Environment:
**- sidekiq 6.5.6
- sidekiq-statistic 1.4.0
- redis 4.8.0**

Error
[code]

[2022-08-31 18:38] reservedmuffin commented on #186
I can see that there are changes to fix that in [the latest (2.0.0) release ](https://github.com/davydovanton/sidekiq-statistic/pull/165/files). But it's not available on the RubyGems. Why is it so?

[2022-09-29 12:41] fabn commented on #172
@wflanagan do you have access to rubygems? Is it possible to publish new gem releases?

[2022-11-02 20:44] jcoyne opened #188 "Problem with Sidekiq 7"
[code]

This is here: https://github.com/davydovanton/sidekiq-statistic/blob/v1.4.0/lib/sidekiq/statistic/middleware.rb#L52